<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gao.mapper.mapper.BrandMapper">
	<!--开启二级缓存-->
	<!--<cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>-->

	<resultMap id="BaseResultMap" type="com.gao.entity.po.Brand">
		<id column="id" property="id" />
		<result column="brand_name" property="brandName" />
		<result column="detail" property="detail" />
		<result column="image_sm" property="imageSm" />
		<result column="image_md" property="imageMd" />
		<result column="image_src" property="imageSrc" />
		<result column="letter" property="letter" />
		<result column="sort" property="sort" />
		<result column="gmt_create" property="gmtCreate" />
		<result column="gmt_update" property="gmtUpdate" />
	</resultMap>

    <!-- 通用查询结果列-->
    <sql id="Base_Column_List">
        id, brand_name AS brandName, detail, image_sm AS imageSm,image_md AS imageMd,image_src AS imageSrc, letter, sort, gmt_create AS gmtCreate, gmt_update AS gmtUpdate
    </sql>
</mapper>
