<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gao.mapper.CustomerInfoMapper">

	<resultMap id="BaseResultMap" type="com.gao.entity.po.CustomerInfo">
		<id column="id" property="id" />
		<result column="login_id" property="loginId" />
		<result column="username" property="username" />
		<result column="nickname" property="nickname" />
		<result column="tel" property="tel" />
		<result column="real_name" property="realName" />
		<result column="id_card_type" property="idCardType" />
		<result column="id_card_no" property="idCardNo" />
		<result column="email" property="email" />
		<result column="gender" property="gender" />
		<result column="birthday" property="birthday" />
		<result column="photo_small" property="photoSmall" />
		<result column="photo_mid" property="photoMid" />
		<result column="photo_source" property="photoSource" />
		<result column="user_money" property="userMoney" />
		<result column="user_point" property="userPoint" />
		<result column="vip_level" property="vipLevel" />
		<result column="state" property="state" />
		<result column="gmt_create" property="gmtCreate" />
		<result column="gmt_update" property="gmtUpdate" />
	</resultMap>

    <!-- 通用查询结果列-->
    <sql id="Base_Column_List">
        id, login_id AS loginId, username, nickname, tel, real_name AS realName, id_card_type AS idCardType, id_card_no AS idCardNo, email, gender, birthday, photo_small AS photoSmall, photo_mid AS photoMid, photo_source AS photoSource, user_money AS userMoney, user_point AS userPoint, vip_level AS vipLevel,state, gmt_create AS gmtCreate, gmt_update AS gmtUpdate
    </sql>
</mapper>
