<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gao.mapper.ResourceMapper">

	<resultMap id="BaseResultMap" type="com.gao.entity.po.Resource">
		<id column="id" property="id" />
		<result column="parent_id" property="parentId" />
		<result column="name" property="name" />
		<result column="code" property="code" />
		<result column="path" property="path" />
		<result column="icon" property="icon" />
		<result column="type" property="type" />
		<result column="sort" property="sort" />
		<result column="gmt_create" property="gmtCreate" />
		<result column="gmt_update" property="gmtUpdate" />
	</resultMap>

    <!-- 通用查询结果列-->
    <sql id="Base_Column_List">
        r.id,
		r.parent_id AS parentId,
		r.name,
		r.code,
		r.path,
		r.icon,
		r.type,
		r.sort,
		r.gmt_create AS gmtCreate,
		r.gmt_update AS gmtUpdate
    </sql>
	
	<select id="getUserMenu" resultType="com.gao.entity.vo.ResourceVO">
		SELECT
			<include refid="Base_Column_List"/>
		FROM
			m_resource r
		LEFT JOIN m_role_resource mrr ON r.id = mrr.resource_id
		LEFT JOIN m_user_role mur ON mrr.role_id = mur.role_id
		WHERE r.type = '0' AND mur.user_id = #{userId} ORDER BY sort ASC
	</select>
</mapper>
